- unless user_signed_in?
  = render partial: "layouts/header_no_login_event_show"
.eventshow__container
  .eventshow__container-box
    %article.eventshow__container-article
      .eventshow__container-title
        %h1.eventshow__container-title-text
          = @event.title
      %section.eventshow__container-tab
        - if @event.user.id == current_user.id
          = link_to "企画を管理・編集", edit_event_path(@event.id), class: "eventshow__container-tab-edit"
        = link_to "申込者一覧" , "#", class: "eventshow__container-tab-apply"
      %section.eventshow__container-main
        .eventshow__container-main-box
          .eventshow__container-basic
            .eventshow__container-img
              .eventshow__container-img-box
                = image_tag "#{@event.image}", class:"eventshow__container-img-image"
            .eventshow__container-infobar
              .eventshow__container-producer
                .eventshow__container-producer-avatar
                  - if @event.user.avatar.present?
                    = image_tag "#{@event.user.avatar}", class: "eventshow__container-producer-avatar-img"
                  - else
                    = image_tag "avatar_sample.jpg", class: "eventshow__container-producer-avatar-img"
                %span.eventshow__container-producer-avatar-span
                  = @event.user.fullname
              .eventshow__container-info
                .eventshow__container-fav
                  %i.eventshow__container-fav-ico
                  %span.eventshow__container-fav-sum 0
                .eventshow__container-attend
                  %i.eventshow__container-attend-ico
                  %span.eventshow__container-attend-sum 0
            .eventshow__container-summary
              %p.eventshow__container-summary-text
                = @event.summary
          .eventshow__container-desc
            .eventshow__container-desc-box
              .eventshow__container-columns
                .eventshow__container-columns-item
                  %h4.eventshow__container-columns-title
                    %span.eventshow__container-columns-span 申込み受付期間
                  %span.eventshow__container-columns-content
                    = @event.apply_start_date
                    から
                    = @event.apply_end_date
                .eventshow__container-columns-item
                  %h4.eventshow__container-columns-title
                    %span.eventshow__container-columns-span 日程
                  %span.eventshow__container-columns-content
                    = @event.start_date
                    から
                    = @event.end_date
                .eventshow__container-columns-item
                  %h4.eventshow__container-columns-title
                    %span.eventshow__container-columns-span 行き先
                  %span.eventshow__container-columns-content
                    = @event.dest
              .eventshow__container-details
                = @event.details
      %section.eventshow__container-side
        .eventshow__container-side-box
          .eventshow__container-side-form
            .eventshow__container-side-form-box
              .eventshow__container-side-status
                %h4.eventshow__container-side-status-box
                  %small.eventshow__container-side-status-small
                    企画のステータス
                  %br/
                  %br/
                  - if Time.now.between?(@event.apply_start_date,@event.apply_end_date )
                    %span.eventshow__container-side-status-span
                      申込受付前
                  - else
                    %span.eventshow__container-side-status-span
                      申込受付中！
              - if user_signed_in?
                .eventshow__container-side-attend
                  = link_to("javascript:void(0)", class: "eventshow__container-side-attend-btn") do
                    %span.eventshow__container-side-attend-span
                      申し込む
                .eventshow__container-side-fav
                  = link_to("javascript:void(0)", class: "eventshow__container-side-fav-btn") do
                    %span.eventshow__container-side-fav-span
                      %i.eventshow__container-side-fav-ico
                      お気に入り
              - else
                .eventshow__container-side-regist
                  = link_to("javascript:void(0)", class: "eventshow__container-side-regist-btn") do
                    %span.eventshow__container-side-regist-span
                      参加するにはこちら（無料登録）
