%header
  .header-container
    %h1.header-logo
      = link_to image_tag("https://trippiece-dev.s3.amazonaws.com/static/img/common/logo/wide_s.1a11591b.png",class: "header-logo"),"#"
    = link_to "プロフィール(マイページ)","#"
    = link_to "設定","#"
    = link_to "ログアウト","#"
    = link_to "企画を作成","#"
